# üöÄ Project Phase 2: Physical Design and Data Staging

Data staging is the process of preparing and organizing data for migration or integration into a data warehouse, data mart, or other analytical environments. In this case, we will be preparing our data for a data mart as intended for this project.


It also involves transforming and cleansing raw data from various sources into a format suitable for analysis and reporting.


This report will contain:

1. Source code (well documented code)

2. Submit a PDF file with the following details.

A. one-page schematic with your high-level data staging plan.  

B. Any other details you want to add.

C. A list of data quality issues you encountered and how you handled them (i.e., how did you detect and handle missing or noisy data (if any). How did you integrate the data from different sources etc.?

D. Fill out the attached excel sheet (Team Planning) and include it in the PDF

# ‚úèÔ∏è Project Preliminaries

Project Phase 2
Physical Design and Data Staging

Due Date: March 27, 2024, 11:59pm

Team #52

Student #1 : C√©leste Duguay #300122287

Student #2 : Michel Akotondji #300189827

Student #3: A√Øssatou K. Diome #300139476



---


Liens importants:


Github repository:https://github.com/lixu4n/DataMart-Design-And-Implementation

Project Team Planning XLS: https://uottawa-my.sharepoint.com/personal/cdugu093_uottawa_ca/Documents/Phase%202-Team%20Planning_W23_.xlsx?d=w470a72341981471e9f7f412236398574&csf=1&web=1&e=ngb0r1

# üõí Data Staging Steps ETL - Extraction

Data can be extracted in various formats, such as CSV, XML, or JSON.

For our project we will be extracting from 3 CSV formats.


1. CSV 1 : Consumer Behavior and Shopping Habits Dataset
https://www.kaggle.com/datasets/zeesolver/consumer-behavior-and-shopping-habits-dataset

2. CSV 2 : E-commerce Customer Data For Behavior Analysis
https://www.kaggle.com/datasets/shriyashjagtap/e-commerce-customer-for-behavior-analysis

3. CSV 3: E-commerce Customer Behvior Dataset
https://www.kaggle.com/datasets/uom190346a/e-commerce-customer-behavior-dataset

In [ ]:
# Import Libraries

import pandas as pd
import pandas as pd
import itertools
import numpy as np
import random
import math

from sklearn.preprocessing import MinMaxScaler

In [ ]:


# Might be easier to use RAW Github Urls than load from google drive as it is better for access and collaboration.

# shopping_behavior_updated.csv (CSV1)
url1 = "https://raw.githubusercontent.com/lixu4n/DataMart-Design-And-Implementation/main/shopping_behavior_updated.csv?token=GHSAT0AAAAAACMDFQODBU4JMXCDJLLZ5UGUZP3TXPA"
dataset1 = pd.read_csv(url1)

# ecommerce_customer_data_custom_ratios.csv (CSV2)
url2 = "https://raw.githubusercontent.com/lixu4n/DataMart-Design-And-Implementation/main/ecommerce_customer_data_custom_ratios.csv?token=GHSAT0AAAAAACMDFQODV5DYK2SE5GYNWJMSZP3TUVQ"
dataset2 = pd.read_csv(url2)

# E-commerce Customer Behavior - Sheet1.csv (CSV3)
url3 = "https://raw.githubusercontent.com/lixu4n/DataMart-Design-And-Implementation/main/E-commerce%20Customer%20Behavior%20-%20Sheet1.csv?token=GHSAT0AAAAAACMDFQOCVVCNTCFPCXQM2D6CZP3TVGQ"
dataset3 = pd.read_csv(url3)

In [ ]:
# Display first rows  -

dataset1.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [ ]:
# Display first rows  - ecommerce_customer_data_custom_ratios.csv (CSV2)

dataset2.head(10)

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,46251,2020-09-08 09:38:32,Electronics,12,3,740,Credit Card,37,0.0,Christine Hernandez,37,Male,0
1,46251,2022-03-05 12:56:35,Home,468,4,2739,PayPal,37,0.0,Christine Hernandez,37,Male,0
2,46251,2022-05-23 18:18:01,Home,288,2,3196,PayPal,37,0.0,Christine Hernandez,37,Male,0
3,46251,2020-11-12 13:13:29,Clothing,196,1,3509,PayPal,37,0.0,Christine Hernandez,37,Male,0
4,13593,2020-11-27 17:55:11,Home,449,1,3452,Credit Card,49,0.0,James Grant,49,Female,1
5,13593,2023-03-07 14:17:42,Home,250,4,575,PayPal,49,1.0,James Grant,49,Female,1
6,13593,2023-04-15 03:02:33,Electronics,73,1,1896,Credit Card,49,0.0,James Grant,49,Female,1
7,13593,2021-03-27 21:23:28,Books,337,2,2937,Cash,49,0.0,James Grant,49,Female,1
8,13593,2020-05-05 20:14:00,Clothing,182,2,3363,PayPal,49,1.0,James Grant,49,Female,1
9,28805,2023-09-13 04:24:00,Electronics,394,2,1993,Credit Card,19,0.0,Jose Collier,19,Male,0

In [ ]:
# Display first rows  - ecommerce_customer_data_large.csv (CSV3

dataset3.head(10)

,Customer ID,Gender,Age,City,Membership Type,Total Spend,Items Purchased,Average Rating,Discount Applied,Days Since Last Purchase,Satisfaction Level
0,101,Female,29,New York,Gold,1120.20,14,4.6,True,25,Satisfied
1,102,Male,34,Los Angeles,Silver,780.50,11,4.1,False,18,Neutral
2,103,Female,43,Chicago,Bronze,510.75,9,3.4,True,42,Unsatisfied
3,104,Male,30,San Francisco,Gold,1480.30,19,4.7,False,12,Satisfied
4,105,Male,27,Miami,Silver,720.40,13,4.0,True,55,Unsatisfied
5,106,Female,37,Houston,Bronze,440.80,8,3.1,False,22,Neutral
6,107,Female,31,New York,Gold,1150.60,15,4.5,True,28,Satisfied
7,108,Male,35,Los Angeles,Silver,800.90,12,4.2,False,14,Neutral
8,109,Female,41,Chicago,Bronze,495.25,10,3.6,True,40,Unsatisfied
9,110,Male,28,San Francisco,Gold,1520.10,21,4.8,False,9,Satisfied

In [ ]:
# Get all colums display - Amazon Customer Behavior Survey.csv (CSV1)
dataset1.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [ ]:
# Get all colums display - Amazon Customer Behavior Survey.csv (CSV1)
dataset2.columns

Index(['Customer ID', 'Purchase Date', 'Product Category', 'Product Price',
       'Quantity', 'Total Purchase Amount', 'Payment Method', 'Customer Age',
       'Returns', 'Customer Name', 'Age', 'Gender', 'Churn'],
      dtype='object')

In [ ]:
# Get all colums display - Amazon Customer Behavior Survey.csv (CSV1)
dataset3.columns

Index(['Customer ID', 'Gender', 'Age', 'City', 'Membership Type',
       'Total Spend', 'Items Purchased', 'Average Rating', 'Discount Applied',
       'Days Since Last Purchase', 'Satisfaction Level'],
      dtype='object')

In [ ]:
# Datasets colums types

print(dataset1.dtypes)
print(dataset2.dtypes)
print(dataset3.dtypes)

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object
Customer ID                int64
Purchase Date             object
Product Category          object
Product Price              int64
Quantity                   int64
Total Purchase Amount      int64
Payment Method            object
Customer Age               int64
Returns                  float64
Customer Name             object
Age                        int64
Gender                    object
Churn                      int64
dtype: object
Customer ID                   int64
Gender                       object
Age                           int64
City                         object
Membership Type              object
Total Spend                 float64
Items Purchased               int64
Average Rating              float64
Discount Applied               bool
Days Since Last Purchase      int64
Satisfaction Level           object
dtype: object

# üõí Data Staging Steps ETL - Transformation - Data Cleaning

Handling duplicates, dropping unwanted columns and changing data types

In [ ]:
# b. Dropping Rows or Columns: Remove rows or columns
# with a high proportion of missing values if they cannot be reasonably imputed.

# Here we will perfrom a dropping a few colums in order to prepare to merge the datasets together.

dataset1 = dataset1.drop(columns=['Size', 'Color', 'Subscription Status', 'Shipping Type', 'Promo Code Used', 'Previous Purchases', 'Payment Method'])

print(dataset1.dtypes)

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Season                     object
Review Rating             float64
Discount Applied           object
Frequency of Purchases     object
dtype: object

In [ ]:
# Convert seasons to respective int value from 1-4

dataset1['Season'] = dataset1['Season'].replace('Winter', 1)
dataset1['Season'] = dataset1['Season'].replace('Spring', 2)
dataset1['Season'] = dataset1['Season'].replace('Summer', 3)
dataset1['Season'] = dataset1['Season'].replace('Fall', 4)

# Convert column season to int

dataset1['Season'] = dataset1['Season'].astype(int)
print(dataset1.dtypes)

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Season                      int64
Review Rating             float64
Discount Applied           object
Frequency of Purchases     object
dtype: object

In [ ]:
dataset1.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Season,Review Rating,Discount Applied,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,1,3.1,Yes,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,1,3.1,Yes,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,2,3.1,Yes,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,2,3.5,Yes,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,2,2.7,Yes,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,3,2.9,Yes,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,4,3.2,Yes,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,1,3.2,Yes,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,3,2.6,Yes,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,2,4.8,Yes,Quarterly

In [ ]:
dataset2 = dataset2.drop(columns=['Payment Method', 'Customer Age', 'Returns', 'Customer Name'])

print(dataset2.dtypes)
dataset2.head(10)

Customer ID               int64
Purchase Date            object
Product Category         object
Product Price             int64
Quantity                  int64
Total Purchase Amount     int64
Age                       int64
Gender                   object
Churn                     int64
dtype: object

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Age,Gender,Churn
0,46251,2020-09-08 09:38:32,Electronics,12,3,740,37,Male,0
1,46251,2022-03-05 12:56:35,Home,468,4,2739,37,Male,0
2,46251,2022-05-23 18:18:01,Home,288,2,3196,37,Male,0
3,46251,2020-11-12 13:13:29,Clothing,196,1,3509,37,Male,0
4,13593,2020-11-27 17:55:11,Home,449,1,3452,49,Female,1
5,13593,2023-03-07 14:17:42,Home,250,4,575,49,Female,1
6,13593,2023-04-15 03:02:33,Electronics,73,1,1896,49,Female,1
7,13593,2021-03-27 21:23:28,Books,337,2,2937,49,Female,1
8,13593,2020-05-05 20:14:00,Clothing,182,2,3363,49,Female,1
9,28805,2023-09-13 04:24:00,Electronics,394,2,1993,19,Male,0

In [ ]:
# Convert 'Purchase Date' to datetime
dataset2['Purchase Date'] = pd.to_datetime(dataset2['Purchase Date'], infer_datetime_format=True)


# Convert seasons to respective int value from 1-4 using the datetime format
dataset2['Season'] = np.where(dataset2['Purchase Date'].dt.month.isin([12, 1, 2]), 1,
                              np.where(dataset2['Purchase Date'].dt.month.isin([3, 4, 5]), 2,
                              np.where(dataset2['Purchase Date'].dt.month.isin([6, 7, 8]), 3,
                              np.where(dataset2['Purchase Date'].dt.month.isin([9, 10, 11]), 4, np.nan))))

# Convert column 'Season' to int
dataset2['Season'] = dataset2['Season'].astype(int)

# Convert 'Purchase Date' to just the date part after season calculation
dataset2['Purchase Date'] = dataset2['Purchase Date'].dt.date


print(dataset2.dtypes)
dataset2.head(10)

<ipython-input-56-4419766d4674>:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  dataset2['Purchase Date'] = pd.to_datetime(dataset2['Purchase Date'], infer_datetime_format=True)

Customer ID               int64
Purchase Date            object
Product Category         object
Product Price             int64
Quantity                  int64
Total Purchase Amount     int64
Age                       int64
Gender                   object
Churn                     int64
Season                    int64
dtype: object

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Age,Gender,Churn,Season
0,46251,2020-09-08,Electronics,12,3,740,37,Male,0,4
1,46251,2022-03-05,Home,468,4,2739,37,Male,0,2
2,46251,2022-05-23,Home,288,2,3196,37,Male,0,2
3,46251,2020-11-12,Clothing,196,1,3509,37,Male,0,4
4,13593,2020-11-27,Home,449,1,3452,49,Female,1,4
5,13593,2023-03-07,Home,250,4,575,49,Female,1,2
6,13593,2023-04-15,Electronics,73,1,1896,49,Female,1,2
7,13593,2021-03-27,Books,337,2,2937,49,Female,1,2
8,13593,2020-05-05,Clothing,182,2,3363,49,Female,1,2
9,28805,2023-09-13,Electronics,394,2,1993,19,Male,0,4

In [ ]:


# dataset3
dataset3 = dataset3.drop(columns=['Membership Type', 'Days Since Last Purchase'])
print(dataset3.dtypes)
dataset3.head(10)

Customer ID             int64
Gender                 object
Age                     int64
City                   object
Total Spend           float64
Items Purchased         int64
Average Rating        float64
Discount Applied         bool
Satisfaction Level     object
dtype: object

,Customer ID,Gender,Age,City,Total Spend,Items Purchased,Average Rating,Discount Applied,Satisfaction Level
0,101,Female,29,New York,1120.20,14,4.6,True,Satisfied
1,102,Male,34,Los Angeles,780.50,11,4.1,False,Neutral
2,103,Female,43,Chicago,510.75,9,3.4,True,Unsatisfied
3,104,Male,30,San Francisco,1480.30,19,4.7,False,Satisfied
4,105,Male,27,Miami,720.40,13,4.0,True,Unsatisfied
5,106,Female,37,Houston,440.80,8,3.1,False,Neutral
6,107,Female,31,New York,1150.60,15,4.5,True,Satisfied
7,108,Male,35,Los Angeles,800.90,12,4.2,False,Neutral
8,109,Female,41,Chicago,495.25,10,3.6,True,Unsatisfied
9,110,Male,28,San Francisco,1520.10,21,4.8,False,Satisfied

**Handling missing values**


  1. Handling missing values
  2. Scaling and Normlization!
  
Scaling down numeric variables to a range between 0 and 1, also known as normalization, has several benefits:

Uniformity: It brings all the numeric features within the same scale, ensuring that no single feature dominates due to its larger magnitude.

Interpretability: Scaling to a range between 0 and 1 preserves the relative differences in the data while making it easier to interpret. For instance, if Age ranges from 20 to 60 and Purchase Amount ranges from 100 to 1000, after scaling, you know that an increase of 0.1 in a feature represents an increase of 10% within the original range.

In [ ]:

#handle missing values
dataset1.fillna(method='ffill', inplace=True)  # forward fill imputation
dataset2.fillna(method='ffill', inplace=True)  # foward fill imputation
dataset1.fillna(method='ffill', inplace=True)  # forward fill imputation

Normalization

In [ ]:
# Normalize numeric val
scaler = MinMaxScaler()
dataset1[[ 'Review Rating']] = scaler.fit_transform(dataset1[[ 'Review Rating']])

dataset2[[ 'Quantity', 'Total Purchase Amount']] = scaler.fit_transform(dataset2[[ 'Quantity', 'Total Purchase Amount']])
dataset3[['Total Spend', 'Items Purchased', 'Average Rating']] = scaler.fit_transform(dataset3[['Total Spend', 'Items Purchased', 'Average Rating']])

# **Dataset Integration**

In [ ]:
# Int√©gration des donn√©es sur la colonne Customer ID
merged_data = pd.merge(dataset1, dataset2, on="Customer ID", how="inner")
merged_data = pd.merge(merged_data, dataset3, on="Customer ID", how="inner")

print(merged_data.head(5))

   Customer ID  Age_x Gender_x Item Purchased     Category  \
0          101     62     Male     Sunglasses  Accessories
1          101     62     Male     Sunglasses  Accessories
2          101     62     Male     Sunglasses  Accessories
3          101     62     Male     Sunglasses  Accessories
4          101     62     Male     Sunglasses  Accessories

   Purchase Amount (USD)      Location  Season_x  Review Rating  \
0                     98  South Dakota         4           0.08
1                     98  South Dakota         4           0.08
2                     98  South Dakota         4           0.08
3                     98  South Dakota         4           0.08
4                     98  South Dakota         4           0.08

  Discount Applied_x  ... Churn Season_y  Gender  Age      City  Total Spend  \
0                Yes  ...     1        3  Female   29  New York     0.639502
1                Yes  ...     1        1  Female   29  New York     0.639502
2                Yes  ...     1        2  Female   29  New York     0.639502
3                Yes  ...     1        3  Female   29  New York     0.639502
4                Yes  ...     1        1  Female   29  New York     0.639502

   Items Purchased Average Rating  Discount Applied_y  Satisfaction Level
0              0.5       0.842105                True           Satisfied
1              0.5       0.842105                True           Satisfied
2              0.5       0.842105                True           Satisfied
3              0.5       0.842105                True           Satisfied
4              0.5       0.842105                True           Satisfied

[5 rows x 28 columns]

# **DISCRETIZATION**

In [ ]:
integrated_df = merged_data

# D√©finition des intervalles de prix
price_bins = [0, 30, 60, 90, float('inf')]
price_labels = ['Prix abordable', 'Prix moyen', 'Prix mod√©r√©', 'Prix √©lev√©']

# Discr√©tisation des donn√©es sur les prix
integrated_df['Price_Category'] = pd.cut(integrated_df['Purchase Amount (USD)'], bins=price_bins, labels=price_labels, right=False)

print("Integrated Dataset Price Category Value Counts:")
print(integrated_df['Price_Category'].value_counts())

Integrated Dataset Price Category Value Counts:
Price_Category
Prix mod√©r√©       680
Prix moyen        665
Prix √©lev√©        206
Prix abordable    203
Name: count, dtype: int64

In [ ]:
# D√©finition des intervalles d'√¢ge
age_bins = [0, 18, 30, 50, float('inf')]
age_labels = ['Enfant', 'Jeune', 'Adulte', 'Vieux']

# Discr√©tisation des donn√©es sur l'√¢ge
integrated_df['Age_Category'] = pd.cut(integrated_df['Age'], bins=age_bins, labels=age_labels, right=False)

print("Integrated Dataset Age Category Value Counts:")
print(integrated_df['Age_Category'].value_counts())

Integrated Dataset Age Category Value Counts:
Age_Category
Adulte    1384
Jeune      370
Enfant       0
Vieux        0
Name: count, dtype: int64

# Loading

In [ ]:
# G√©n√©rer des cl√©s substitu√©es pour customer id
customer_id_mapping = {customer_id: idx for idx, customer_id in enumerate(integrated_df['Customer ID'].unique(), start=1)}

# nouvelle colonne avec les cl√©s substitu√©es
integrated_df['Customer ID Substituted'] = integrated_df['Customer ID'].map(customer_id_mapping)

# DataFrame avec les cl√©s substitu√©es
integrated_df.to_csv("integrated_dataset_with_substituted_keys.csv", index=False)

# Chargement de l'ensemble de donn√©es final avec les cl√©s substitu√©es
final_dataset_with_substituted_keys = pd.read_csv("integrated_dataset_with_substituted_keys.csv")

In [ ]:
dataset_final = pd.read_csv("integrated_dataset_with_substituted_keys.csv")
print(dataset_final.head(3))

   Customer ID  Age_x Gender_x Item Purchased     Category  \
0          101     62     Male     Sunglasses  Accessories
1          101     62     Male     Sunglasses  Accessories
2          101     62     Male     Sunglasses  Accessories

   Purchase Amount (USD)      Location  Season_x  Review Rating  \
0                     98  South Dakota         4           0.08
1                     98  South Dakota         4           0.08
2                     98  South Dakota         4           0.08

  Discount Applied_x  ... Age      City Total Spend  Items Purchased  \
0                Yes  ...  29  New York    0.639502              0.5
1                Yes  ...  29  New York    0.639502              0.5
2                Yes  ...  29  New York    0.639502              0.5

   Average Rating  Discount Applied_y  Satisfaction Level Price_Category  \
0        0.842105                True           Satisfied     Prix √©lev√©
1        0.842105                True           Satisfied     Prix √©lev√©
2        0.842105                True           Satisfied     Prix √©lev√©

   Age_Category  Customer ID Substituted
0         Jeune                        1
1         Jeune                        1
2         Jeune                        1

[3 rows x 31 columns]

# Our data mart using a Database Management System (DBMS)

In [ ]:
import sqlite3

In [103]:
# connexion √† la base de donn√©es (elle sera cr√©√©e)
conn = sqlite3.connect('spotify.db')

# curseur pour ex√©cuter des commandes SQL
cursor = conn.cursor()

In [104]:
# Chargement du dataset final avec les cl√©s substitu√©es √† partir du fichier CSV
integrated_df_with_keys = pd.read_csv("integrated_dataset_with_substituted_keys.csv")

# Insertion des donn√©es dans la table du datamart
integrated_df_with_keys.to_sql('Datamart', conn, if_exists='replace', index=False)

# Validation des changements
conn.commit()

print("Le datamart a √©t√© cr√©√© avec succ√®s √† partir du dataset final.")

Le datamart a √©t√© cr√©√© avec succ√®s √† partir du dataset final.

# üìä Project Phase 3 - OLAP + BI Dashboard

# Part 1 -  Standard OLAP Operations

a. Explore and collect

1. Exploring purchases by category and year:

In [79]:
# Connexion √† la base de donn√©es
conn = sqlite3.connect('spotify.db')
cursor = conn.cursor()

# Ex√©cution de la requ√™te SQL
query = """
SELECT Category, strftime('%Y', "Date_d'achat") AS Year, COUNT(DISTINCT "Customer ID") AS Total_Clients
FROM Datamart
GROUP BY Category, Year;
"""
cursor.execute(query)


results1 = cursor.fetchall()
for row in results1:
    print(row)

('Accessories', None, 119)
('Clothing', None, 145)
('Footwear', None, 54)
('Outerwear', None, 29)

2. Cumul des achats par mois

In [ ]:
cursor = conn.cursor()

query = """
SELECT strftime('%m', "Date_d'achat") AS Month,
       SUM("Purchase Amount (USD)") AS Total_Achats
FROM Datamart
GROUP BY Month
ORDER BY Month;
"""
cursor.execute(query)


results2 = cursor.fetchall()
for row in results2:
    print(row)

# le r√©sultat indique un total de 104 373

(None, 104373)

b.Tranche, o√π une seule cote est s√©lectionn√©e
3. Nombre d'achats pour l'article 'Lunettes de soleil' :

In [ ]:
cursor = conn.cursor()

query = """
SELECT COUNT(*) AS Total_Achats_Lunettes_de_soleil
FROM Datamart
WHERE "Item Purchased" = 'Sunglasses';
"""
cursor.execute(query)


results3 = cursor.fetchall()
for row in results3:
    print(row)

(87,)

C.D√©s, o√π l‚Äôon cr√©e un sous‚Äêcube
4. Sous-cube des achats par mois et cat√©gorie :

In [ ]:
cursor = conn.cursor()

query = """
SELECT strftime('%m', "Date_d'achat") AS Month, Category, COUNT(*) AS Total_Achats
FROM Datamart
GROUP BY Month, Category;

"""
cursor.execute(query)


results4 = cursor.fetchall()
for row in results4:
    print(row)

(None, 'Accessories', 661)
(None, 'Clothing', 697)
(None, 'Footwear', 244)
(None, 'Outerwear', 152)

d. Combining OLAP operations.
1. Comparaison des achats entre deux p√©riodes :

In [ ]:
import sqlite3

# Connexion √† la base de donn√©es
conn = sqlite3.connect('spotify.db')
cursor = conn.cursor()

# Ex√©cution de la requ√™te PRAGMA
cursor.execute("PRAGMA table_info(Datamart)")

# R√©cup√©ration des r√©sultats
columns_info = cursor.fetchall()

# Affichage des noms de colonnes
column_names = [info[1] for info in columns_info]
print(column_names)

['Customer ID', 'Age_x', 'Gender_x', 'Item Purchased', 'Category', 'Purchase Amount (USD)', 'Location', 'Season_x', 'Review Rating', 'Discount Applied_x', 'Frequency of Purchases', 'Purchase Date', 'Product Category', 'Product Price', 'Quantity', 'Total Purchase Amount', 'Age_y', 'Gender_y', 'Churn', 'Season_y', 'Gender', 'Age', 'City', 'Total Spend', 'Items Purchased', 'Average Rating', 'Discount Applied_y', 'Satisfaction Level', 'Price_Category', 'Age_Category', 'Customer ID Substituted']

In [81]:
cursor = conn.cursor()

query = """
SELECT
    CASE
        WHEN strftime('%m', "Purchase Date") IN ('01','02','03') THEN 1
        WHEN strftime('%m', "Purchase Date") IN ('04','05','06') THEN 2
        WHEN strftime('%m', "Purchase Date") IN ('07','08','09') THEN 3
        ELSE 4
    END AS Season,
    strftime('%Y', "Purchase Date") AS Year,
    SUM("Purchase Amount (USD)") AS Total_Sales
FROM
    Datamart
WHERE
    strftime('%Y', "Purchase Date") IN ('2022', '2023')
GROUP BY
    Season, Year
ORDER BY
    Year, Season;
"""
cursor.execute(query)


results = cursor.fetchall()
results

[(1, '2022', 6260),
 (2, '2022', 7282),
 (3, '2022', 7329),
 (4, '2022', 6867),
 (1, '2023', 7092),
 (2, '2023', 7756),
 (3, '2023', 5937)]

2. Analyse des ventes par r√©gion et cat√©gorie

In [ ]:
cursor = conn.cursor()

query = """
SELECT Location, Category, SUM("Purchase Amount (USD)") AS Total_Sales
FROM Datamart
GROUP BY Location, Category;
"""
cursor.execute(query)


results = cursor.fetchall()
results

## üìä Part 2 - Explorative Operations - 3 queries

a) Iceberg Querie

In [82]:
# Iceberg Query
# In the first query, we will find the top 5 customers with the highest total spend over all purchases...
# we take our full csv file and execute it.

# we select our Customer ID and then calculate all the purchased with the associated id
# we will display by descending order
# we also only display the top 5!
iceberg_query = """
SELECT "Customer ID", SUM("Total Purchase Amount") AS total_spend
FROM Datamart
GROUP BY "Customer ID"
ORDER BY total_spend DESC
LIMIT 5;
"""

# My query -- This is using the Iceberg
cursor.execute(iceberg_query)

# get res
iceberg_results = cursor.fetchall()

# Print the results
print("Top 5 Customers with the Highest Total Spend of all purchases:")
for row in iceberg_results:
    print(row)

# close connection
cursor.close()
conn.close()

Top 5 Customers with the Highest Total Spend of all purchases:
(249, 7.075809523809522)
(387, 6.836)
(400, 6.192190476190475)
(206, 6.135809523809524)
(164, 5.559809523809523)

b) Windowing Querie

In [91]:
# query : comparaison of each average purchase amount for each customer with the average puchase across all
#using thr windowing query
sql_query = """
SELECT "Customer ID",
       AVG("Total Purchase Amount") AS avg_purchase_amount,
       AVG("Total Purchase Amount") OVER () AS overall_avg_purchase_amount
FROM Datamart
GROUP BY "Customer ID";
"""

# Execution
cursor.execute(sql_query)

results = cursor.fetchall()

# Print
for row in results:
    print(row)

cursor.close()
conn.close()

ProgrammingError: Cannot operate on a closed cursor.

c. Using the window clause

In [ ]:

# this takes the total spend and compare to location.. we will be using the window clause!
sql_query = """
SELECT "Customer ID",
       "Location",
       SUM("Total Purchase Amount") AS total_spend,
       AVG(SUM("Total Purchase Amount")) OVER (PARTITION BY "Location") AS avg_spend_per_location
FROM Datamart
GROUP BY "Customer ID", "Location";
"""

# Execution  query
cursor.execute(sql_query)

results = cursor.fetchall()

# Print
for row in results:
    print(row)

# cursor connection.
cursor.close()
conn.close()

In the phase 3 deliverable we also implemented a power bi dashboard to display our data.

# ‚õèÔ∏è Phase 4 - Data Mining

To complete next phase